In [0]:
# import data from DBFS 
# NOTE , you have to upload the file using the DATA tab on the left side of the window
# go to Add data button
# click on upload file
# Click on upload to DBFS 
# Choose and upload the file

In [0]:
import pandas as pd
df1 = pd.read_csv('/dbfs/FileStore/tables/customer_data.csv')

In [0]:
df1.head(2)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize

In [0]:
type(df1)
# note that this is a pandas dataframe and not a spark dataframe

Out[29]: pandas.core.frame.DataFrame

In [0]:
df2 = pd.read_csv('/dbfs/FileStore/tables/smoke_detection_iot.csv')
df2 = df2.drop(['Unnamed: 0'], axis =1)
df2.head()

,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.0,0.0,0.0,0.0,0.0,0,0
1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.0,0.0,0.0,0.0,0.0,1,0
2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.0,0.0,0.0,0.0,0.0,2,0
3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.0,0.0,0.0,0.0,0.0,3,0
4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.0,0.0,0.0,0.0,0.0,4,0

In [0]:
# df2.to_csv('smoke_detection_clean_export.csv') 
# need to check where the csv is exported

In [0]:
# import csv as a dataframe using Spark
import pyspark
from pyspark.sql import SparkSession

# create a spark session
spark = SparkSession.builder.appName('PySpark Read CSV').getOrCreate()

In [0]:
# Reading csv file
dataframe = spark.read.csv("/FileStore/tables/customer_data.csv", header=True)
dataframe.printSchema()

root
 |-- Customer: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Customer Lifetime Value: string (nullable = true)
 |-- Response: string (nullable = true)
 |-- Coverage: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- Effective To Date: string (nullable = true)
 |-- EmploymentStatus: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- Location Code: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Monthly Premium Auto: string (nullable = true)
 |-- Months Since Last Claim: string (nullable = true)
 |-- Months Since Policy Inception: string (nullable = true)
 |-- Number of Open Complaints: string (nullable = true)
 |-- Number of Policies: string (nullable = true)
 |-- Policy Type: string (nullable = true)
 |-- Policy: string (nullable = true)
 |-- Renew Offer Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Total Claim Amount: string (nullable = true)
 |-- Vehicle Class: string (nullable = true)
 |-- Vehicle Size: string (nullable = true)

In [0]:
# Writing pyspark dataframe to csv file
dataframe.write.option("header",True) \
 .csv("/FileStore/tables/customer_data_clean.csv")

In [0]:
# Register the DataFrame as a temporary view

In [0]:
df = pd.read_csv('/dbfs/FileStore/tables/customer_data.csv')
# Register the DataFrame as a temporary view
df.createOrReplaceTempView("my_table_")

# Note that this would fail because here df is a pandas dataframe and not a spark dataFrame

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-3313742380952454> in <cell line: 3>()
      1 df = pd.read_csv('/dbfs/FileStore/tables/customer_data.csv')
      2 # Register the DataFrame as a temporary view
----> 3 df.createOrReplaceTempView("my_table_")
      4
      5 # Run a SQL query on the DataFrame using Spark SQL

/databricks/python/lib/python3.9/site-packages/pandas/core/generic.py in __getattr__(self, name)
   5485         ):
   5486             return self[name]
-> 5487         return object.__getattribute__(self, name)
   5488
   5489     def __setattr__(self, name: str, value) -> None:

AttributeError: 'DataFrame' object has no attribute 'createOrReplaceTempView'

In [0]:
# Load data into a DataFrame
df = spark.read.csv("/FileStore/tables/customer_data.csv", header=True)

# Register the DataFrame as a temporary view
df.createOrReplaceTempView("my_table")

# Run a SQL query on the DataFrame using Spark SQL
results = spark.sql("SELECT * FROM my_table limit 10")

# Display the results
results.show()

+--------+----------+-----------------------+--------+--------+---------+-----------------+----------------+------+------+-------------+--------------+--------------------+-----------------------+-----------------------------+-------------------------+------------------+--------------+------------+----------------+-------------+------------------+-------------+------------+
|Customer|     State|Customer Lifetime Value|Response|Coverage|Education|Effective To Date|EmploymentStatus|Gender|Income|Location Code|Marital Status|Monthly Premium Auto|Months Since Last Claim|Months Since Policy Inception|Number of Open Complaints|Number of Policies|   Policy Type|      Policy|Renew Offer Type|Sales Channel|Total Claim Amount|Vehicle Class|Vehicle Size|
+--------+----------+-----------------------+--------+--------+---------+-----------------+----------------+------+------+-------------+--------------+--------------------+-----------------------+-----------------------------+-------------------------+------------------+--------------+------------+----------------+-------------+------------------+-------------+------------+
| BU79786|Washington|            2763.519279|      No|   Basic| Bachelor|          2/24/11|        Employed|     F| 56274|     Suburban|       Married|                  69|                     32|                            5|                        0|                 1|Corporate Auto|Corporate L3|          Offer1|        Agent|        384.811147| Two-Door Car|     Medsize|
| QZ44356|   Arizona|            6979.535903|      No|Extended| Bachelor|          1/31/11|      Unemployed|     F|     0|     Suburban|        Single|                  94|                     13|                           42|                        0|                 8| Personal Auto| Personal L3|          Offer3|        Agent|       1131.464935|Four-Door Car|     Medsize|
| AI49188|    Nevada|            12887.43165|      No| Premium| Bachelor|          2/19/11|        Employed|     F| 48767|     Suburban|       Married|                 108|                     18|                           38|                        0|                 2| Personal Auto| Personal L3|          Offer1|        Agent|        566.472247| Two-Door Car|     Medsize|
| WW63253|California|            7645.861827|      No|   Basic| Bachelor|          1/20/11|      Unemployed|     M|     0|     Suburban|       Married|                 106|                     18|                           65|                        0|                 7|Corporate Auto|Corporate L2|          Offer1|  Call Center|        529.881344|          SUV|     Medsize|
| HB64268|Washington|            2813.692575|      No|   Basic| Bachelor|           2/3/11|        Employed|     M| 43836|        Rural|        Single|                  73|                     12|                           44|                        0|                 1| Personal Auto| Personal L1|          Offer1|        Agent|        138.130879|Four-Door Car|     Medsize|
| OC83172|    Oregon|              8256.2978|     Yes|   Basic| Bachelor|          1/25/11|        Employed|     F| 62902|        Rural|       Married|                  69|                     14|                           94|                        0|                 2| Personal Auto| Personal L3|          Offer2|          Web|        159.383042| Two-Door Car|     Medsize|
| XZ87318|    Oregon|            5380.898636|     Yes|   Basic|  College|          2/24/11|        Employed|     F| 55350|     Suburban|       Married|                  67|                      0|                           13|                        0|                 9|Corporate Auto|Corporate L3|          Offer1|        Agent|             321.6|Four-Door Car|     Medsize|
| CF85061|   Arizona|            7216.100311|      No| Premium|   Master|          1/18/11|      Unemployed|     M|     0|        Urban|        Single|                 101|                      0|                           68|                        0|                 4|Corporate Auto|Corporate L3|          Offer1|        Agent|         363.02968|Four-Door Car|     Medsize|
| DY87989|    Oregon|            24127.50402|     Yes|   Basic| Bachelor|          1/26/11|   Medical Leave|     M| 14072|     Suburban|      Divorced|                  71|                     13|                            3|                        0|                 2|Corporate Auto|Corporate L3|          Offer1|        Agent|             511.2|Four-Door Car|     Medsize|
| BQ94931|    Oregon|            7388.178085|      No|Extended|  College|          2/17/11|        Employed|     F| 28812|        Urban|       Married|                  93|                     17|                            7|                        0|                 8|  Special Auto|  Special L2|          Offer2|       Branch|        425.527834|Four-Door Car|     Medsize|
+--------+----------+-----------------------+--------+--------+---------+-----------------+----------------+------+------+-------------+--------------+--------------------+-----------------------+-----------------------------+-------------------------+------------------+--------------+------------+----------------+-------------+------------------+-------------+------------+

In [0]:
type(df)

Out[25]: pyspark.sql.dataframe.DataFrame